@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (driver == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surename</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@driver.Name</td>
                <td>@driver.Surename</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private int currentCount = 0;
    DriverDto? driver;

    protected override async Task OnInitializedAsync()
    {
        driver = await Http.GetFromJsonAsync<DriverDto>("api/driver/1");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
