@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="text-center" style="margin-top: 20px;">
    <h1>Witaj w aplikacji WrocRide!</h1>
    <h4>Życzymy udanej podróży w pięknym Wrocławiu ;)</h4>
</div>

<div class="text-center" style="margin-top: 3cm;">
    <img src="images/Logo.png" class="img-fluid" style="max-width: 300px;" />
</div>

