@inject IAuthenticationService AuthenticationService

<AddCreditsComponent ShowModal="@showModal" ShowModalChanged="HandleModalToggle" />

<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between py-3">

        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold"> WrocRide </NavLink>

        <ul class="d-flex list-unstyled mb-0">

            <li class="mx-3">
                <NavLink href="/ride-requests" class="link-light nav-link">Zlecenia</NavLink>
            </li>
            <li class="mx-3">
                <NavLink href="/drivers" class="link-light nav-link">Inni kierowcy</NavLink>
            </li>
            <li class="mx-3">
                <NavLink href="/ride" class="link-light nav-link">Historia przejazdów</NavLink>
            </li>
            <li class="mx-3">
                <NavLink href="/driver/me" class="link-light nav-link">Szczegóły konta</NavLink>
            </li>
        </ul>

        <div class="dropdown">
            <img src="images/avatar.png"
                 class="rounded-circle img-fluid dropdown-toggle"
                 id="userDropdown"
                 style="width: 40px; height: 40px; cursor: pointer;"
                 data-bs-toggle="dropdown"
                 aria-expanded="false" />

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><NavLink href="/me" class="dropdown-item">Profil</NavLink></li>
                <li><a class="dropdown-item" @onclick="() => showModal = true">Dodaj środki</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><NavLink href="/login" class="dropdown-item" @onclick="Logout">Wyloguj</NavLink></li>
            </ul>
        </div>


    </header>
</div>

@code {
    private bool showModal = false;

    private void HandleModalToggle(bool show)
    {
        showModal = show;
    }

    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }
}
