@inherits LayoutComponentBase

<PageTitle> WrocRide </PageTitle>

<div class="page d-flex flex-column min-vh-100">

    <div class="container-fluid" style="background-color: var(--color-purple)">
        <TopNavBar />
    </div>

    <div class="container-fluid flex-grow-1">
        @Body
    </div>
    <footer class="text-center py-2" style="background-color: var(--bs-gray-200); margin-top: 20px">
        <p class="mb-0">© WrocRide app made by <strong>Aleksander Żołnowski & Jan Galewicz</strong></p>
    </footer>
</div>
