<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between py-3">

        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold"> WrocRide </NavLink>

        <ul class="d-flex list-unstyled mb-0">
            <li class="mx-3">
                <NavLink href="/" class="link-light nav-link">Home</NavLink>
            </li>
            <li class="mx-3">
                <NavLink href="/counter" class="link-light nav-link">Counter</NavLink>
            </li>
        </ul>

        <div class="text-end">
            <NavLink href="/login" class="btn btn-primary">Zaloguj</NavLink>
        </div>
    </header>
</div>

@code {

}
